body {

    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(270deg, #82c3fe, #2e74b4);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;


}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.smart {

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    border-color: #444;
    background-color: #333;



    width: 295px;
    height: 532px;
    border-radius: 40px;
    border: 2px solid #ddd;
    margin: 0 auto;
    padding: 60px 10px;

    position: relative;


}

#acenzione-button {
    background-color: #333;

    height: 20px;
    left: -5px;
    top: 59px;
    border-radius: 4px 0 0 4px;

    width: 3px;
    background: #333;
    position: absolute;

}


#volume-su {
    height: 40px;
    width: 3px;
    left: -7px;
    top: 110px;
    border-radius: 4px 0 0 4px;

    width: 5px;
    background: #333;
    position: absolute;


}

#volume-giu {
    height: 40px;
    width: 3px;
    left: -7px;
    top: 155px;
    border-radius: 4px 0 0 4px;

    width: 5px;
    background: #333;
    position: absolute;



}


#dettaglio {
    position: absolute;
    left: 0;
    top: 17px;
    width: 100%;
}


#fotocamera {
    background: #111;
    height: 7px;
    width: 7px;
    margin: auto;

    border-radius: 100px;
    display: block;
}

#sensore {
    background: #111;
    height: 7px;
    width: 7px;
    margin: 12px 100px;

    border-radius: 100px;
    display: block;
}

#microfono {
    background: #111;
    height: 7px;
    width: 90px;
    margin: -19px auto 0;
    border-radius: 100px;
}

#schermo {
    height: 522px;
    width: 295px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1)inset;
    overflow: hidden;
    position: relative;
}

/* Add a class to control background image */
#schermo.has-background-image {
    background-image: url(../assets/background.png);
    /* Ensure the background image covers the entire div */
    background-size: cover;
    /* Center the background image*/
    background-position: center;
}


#bottone {
    height: 40px;
    width: 40px;
    background: #111;
    margin: 17px auto;
    border-radius: 100px;
}

.frame-posizione {
    margin-left: 0px;
    margin-right: -1px;
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* Ensure that the container takes the full height */
}

.frame-posizione a.button {
    margin-top: auto;
    /* Push anchor tags to the bottom */
    display: block;
    width: 100%;
    /* Make anchor tags take the full width */
    text-align: center;
    /* Center the content horizontally */
}

.frame-posizione a.button img {
    max-width: 100%;
    /* Ensure images do not exceed the width of the anchor tags */
}

#header {
    background: #555;
    box-shadow: 1px 2px 7px #333;
}

.wrap {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}


#menu {
    position: relative;
    height: 60px;



}

#menu ul {
    list-style: none;
}

#menu ul li {
    float: left;
    padding: 3px;

}


#menu ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;



}

#menu ul li a:hover {
    background: #444;
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    color: #FFF;



}


.three-lines-menu {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    display: none;
}

#menu ul {
    display: none;
    padding: 60px;
}

#menu ul li {
    float: none;
    background: #555;
}


.three-lines-menu {
    display: block;
    cursor: pointer;
}

#menu ul.menu-responsive {
    display: block;
    width: 100%;
    margin-top: 0;
}

/* Upload Sub-Section */
.shimmer {
    color: grey;
    display: inline-block;
    -webkit-mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/300% 100%;
    background-repeat: no-repeat;
    animation: shimmer 2.5s infinite;
    font-size: 50px;
    max-width: 100%;
}

@keyframes shimmer {
    100% {
        -webkit-mask-position: left
    }
}

#cameraModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

#cameraModal .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    width: 60%;
    max-width: 400px;
    /* Adjust the maximum width as needed */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#cameraModal .close-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.close-img {
    width: 30px;
    /* Adjust the size as needed */
    height: 30px;
    cursor: pointer;
}

/* Your existing styles remain the same */

.camera-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#cameraFeed {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.take-picture-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.take-picture-btn:hover {
    background-color: #45a049;
}

#overlay-box {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

#overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 24px;
    /* Adjust the font size as needed */
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}