body {

    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(270deg, #82c3fe, #2e74b4);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;


}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.smart {

    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    border-color: #444;
    background-color: #333;



    width: 295px;
    height: 532px;
    border-radius: 40px;
    border: 2px solid #ddd;
    margin: 0 auto;
    padding: 60px 10px;

    position: relative;


}

#acenzione-button {
    background-color: #333;

    height: 20px;
    left: -5px;
    top: 59px;
    border-radius: 4px 0 0 4px;

    width: 3px;
    background: #333;
    position: absolute;

}


#volume-su {
    height: 40px;
    width: 3px;
    left: -7px;
    top: 110px;
    border-radius: 4px 0 0 4px;

    width: 5px;
    background: #333;
    position: absolute;


}

#volume-giu {
    height: 40px;
    width: 3px;
    left: -7px;
    top: 155px;
    border-radius: 4px 0 0 4px;

    width: 5px;
    background: #333;
    position: absolute;



}


#dettaglio {
    position: absolute;
    left: 0;
    top: 17px;
    width: 100%;
}


#fotocamera {
    background: #111;
    height: 7px;
    width: 7px;
    margin: auto;

    border-radius: 100px;
    display: block;
}

#sensore {
    background: #111;
    height: 7px;
    width: 7px;
    margin: 12px 100px;

    border-radius: 100px;
    display: block;
}

#microfono {
    background: #111;
    height: 7px;
    width: 90px;
    margin: -19px auto 0;
    border-radius: 100px;
}


#schermo {
    height: 522px;
    width: 295px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1)inset;
    overflow: hidden;
    position: relative;

}


#bottone {
    height: 40px;
    width: 40px;
    background: #111;
    margin: 17px auto;
    border-radius: 100px;
}



.frame-posizione {

    margin-left: 0px;
    margin-right: -1px;
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* Ensure that the container takes the full height */
}



#header {
    background: #555;
    box-shadow: 1px 2px 7px #333;
}

.wrap {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}


#menu {
    position: relative;
    height: 60px;



}

#menu ul {
    list-style: none;
}

#menu ul li {
    float: left;
    padding: 3px;

}


#menu ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;



}

#menu ul li a:hover {
    background: #444;
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    color: #FFF;



}


.three-lines-menu {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 32px;
    display: none;
}




#menu ul {
    display: none;
    padding: 60px;



}

#menu ul li {
    float: none;
    background: #555;



}


.three-lines-menu {
    display: block;
    cursor: pointer;

}

#menu ul.menu-responsive {
    display: block;
    width: 100%;
    margin-top: 0;

}