{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Django App</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Start Smartphone UI -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <!-- End Smartphoene UI -->

</head>

<body>
    <!-- Modal for camera -->
    <div id="cameraModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="close-container" onclick="closeCameraModal()">
                <img src="{% static 'assets/close.png' %}" alt="Close" class="close-img">
            </div>
            <div class="camera-container">
                <video id="cameraFeed" autoplay playsinline></video>
            </div>
            <button class="take-picture-btn" onclick="takePicture()">Take Picture</button>
        </div>
    </div>


    <div class="smart">
        <div id="dettaglio">
            <div id="sensore"></div>
            <div id="microfono"></div>
        </div>
        <div id="acenzione-button"></div>
        <div id="volume-su"></div>
        <div id="volume-giu"></div>
        <div id="schermo" class="has-background-image">
            <div class="frame-posizione" id="uploaded-image-container" ondrop="drop(event)"
                ondragover="allowDrop(event)">
                <!-- <img src="{% static 'assets/krishna.jpg' %}" class="wrap"> -->
                <input type="file" id="image-upload-input" accept="image/*" style="display: none;">
                <!-- Anchor tag with upload icon -->
                <a href="#" class="button" onclick="openFileInput()">
                    <img src="{% static 'assets/gallery.png' %}" alt="Upload Image">
                </a>

                <!-- Anchor tag with camera icon -->
                <a href="#" class="button" onclick="openCamera()">
                    <img src="{% static 'assets/photo-camera.png' %}" alt="Open Camera">
                </a>

                <!-- Anchor tag with unused icon -->
                <a href="#" class="button" id="unusedButton" onclick="unusedFunction()">
                    <img src="{% static 'assets/translation.png' %}" alt="Unused Button">
                </a>
            </div><!-- fine wrap-->
        </div><!-- fine menu-responsive menu-->
        <div id="bottone"></div>
    </div>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>

</html>